html, body {
  width: 100%;
  min-width: 300px;
  height: 100%; }

#header {
  width: 100%;
  min-height: 300px;
  padding: 20px 0px;
  border-top: 5px solid #59C3C3;
  background-color: #3d3a3D;
  overflow: hidden; }
  #header #content-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFFFFC; }
    #header #content-wrapper img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #FFFFFC; }
    #header #content-wrapper #descriptors {
      padding-top: 20px; }
      #header #content-wrapper #descriptors h1 {
        font-family: Sans-Serif, serif;
        font-size: 2.5em;
        padding-bottom: 10px; }
      #header #content-wrapper #descriptors p {
        font-family: Sans-Serif, serif;
        font-size: 1.4em;
        padding-bottom: 10px; }
      #header #content-wrapper #descriptors #media-links {
        min-width: 200px;
        height: 100px;
        margin: 0 auto; }
        #header #content-wrapper #descriptors #media-links ul {
          list-style-type: none; }
          #header #content-wrapper #descriptors #media-links ul li {
            display: inline; }
            #header #content-wrapper #descriptors #media-links ul li .fa {
              padding: 15px;
              font-size: 30px;
              width: 30px;
              text-align: center;
              text-decoration: none;
              margin: 5px 4px;
              border-radius: 50%;
              color: #FFFFFC;
              background-color: black;
              transition: transform .2s ease-in-out; }
            #header #content-wrapper #descriptors #media-links ul li .fa:hover {
              transform: scale(1.15); }
            #header #content-wrapper #descriptors #media-links ul li .fa-linkedin {
              background-color: #3070AF; }
            #header #content-wrapper #descriptors #media-links ul li .fa-github {
              color: #3d3a3D;
              background-color: #FFFFFC; }
            #header #content-wrapper #descriptors #media-links ul li .fa-facebook {
              background-color: #29538F; }

#portfolio {
  padding: 25px 10px 25px 10px;
  background-color: #D9D9D9;
  overflow: hidden; }
  #portfolio #about {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
  #portfolio #skills {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
    #portfolio #skills #card-wrapper {
      height: 100%; }
      #portfolio #skills #card-wrapper #skills-wrapper {
        width: 100%; }
        #portfolio #skills #card-wrapper #skills-wrapper .skill {
          position: relative;
          width: 95%;
          height: 70px;
          margin: 0 auto;
          margin-bottom: 20px; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill .skill-identifiers .skill-name {
            display: inline-block;
            min-width: 100px;
            height: 35px;
            float: left; }
            #portfolio #skills #card-wrapper #skills-wrapper .skill .skill-identifiers .skill-name p {
              font-weight: 700;
              line-height: 35px;
              color: #3d3a3D; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill .skill-identifiers .skill-level {
            display: inline-block;
            min-width: 100px;
            height: 35px;
            float: right; }
            #portfolio #skills #card-wrapper #skills-wrapper .skill .skill-identifiers .skill-level p {
              text-align: right;
              line-height: 35px;
              color: #5D5A5D; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill .skill-meter {
            display: block;
            position: absolute;
            width: 100%;
            height: 25px;
            bottom: 0;
            background-color: #D9D9D9;
            z-index: 1; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill .fill-level {
            position: absolute;
            height: 25px;
            bottom: 0;
            background-color: #59C3C3;
            z-index: 2; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #cpp-meter {
            width: 70%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #python-meter {
            width: 80%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #java-meter {
            width: 40%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #javascript-meter {
            width: 40%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #htmlcss-meter {
            width: 80%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #sql-meter {
            width: 25%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #cli-meter {
            width: 70%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #git-meter {
            width: 70%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #cli-meter {
            width: 70%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #django-meter {
            width: 55%; }
          #portfolio #skills #card-wrapper #skills-wrapper .skill #linux-meter {
            width: 60%; }
        #portfolio #skills #card-wrapper #skills-wrapper .skill:last-child {
          margin-bottom: 0px; }
  #portfolio #projects-experience {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
  #portfolio #current {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
  #portfolio #contact {
    width: 95%;
    margin: 0 auto; }

.info-card {
  max-width: 100%;
  margin: 30px 20px;
  color: #3d3a3D;
  background-color: #FFFFFC;
  font-family: Sans-Serif, serif; }
  .info-card h1 {
    font-size: 1.3em;
    margin-bottom: 10px; }
  .info-card p {
    line-height: 1.5em; }

.info-card-data-wrapper {
  padding: 30px 20px; }

#footer {
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: Sans-serif, serif;
  font-size: 0.9em;
  color: #FFFFFC;
  background-color: #3d3a3D;
  overflow: hidden; }
  #footer p {
    line-height: 40px; }

@media (min-width: 1050px) {
  #content-wrapper {
    position: relative;
    height: 300px;
    left: 12%; }
    #content-wrapper img {
      float: left; }
    #content-wrapper #descriptors {
      margin-left: 20px;
      margin-top: 80px;
      float: left;
      text-align: left; }
      #content-wrapper #descriptors #media-links {
        padding-right: 20px;
        float: right; } }

/*# sourceMappingURL=home.css.map */
