html {
  background-color: #D9D9D9 !important; }

#header {
  width: 100%;
  min-height: 300px;
  padding: 20px 0px;
  background-color: #3d3a3D;
  overflow: hidden; }
  #header #content-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFFFFC; }
    #header #content-wrapper img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #FFFFFC; }
    #header #content-wrapper #descriptors {
      padding-top: 20px; }
      #header #content-wrapper #descriptors h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 2.5em;
        padding-bottom: 10px; }
      #header #content-wrapper #descriptors p {
        font-family: "Ubuntu", sans-serif;
        font-size: 1.4em;
        padding-bottom: 10px; }
      #header #content-wrapper #descriptors #media-links {
        min-width: 200px;
        height: 100px;
        margin: 0 auto; }
        #header #content-wrapper #descriptors #media-links ul {
          list-style-type: none; }
          #header #content-wrapper #descriptors #media-links ul li {
            display: inline; }
            #header #content-wrapper #descriptors #media-links ul li .fa {
              padding: 15px;
              font-size: 30px;
              width: 30px;
              text-align: center;
              text-decoration: none;
              margin: 5px 4px;
              border-radius: 50%;
              color: #FFFFFC;
              background-color: black;
              transition: transform .2s ease-in-out; }
            #header #content-wrapper #descriptors #media-links ul li .fa:hover {
              transform: scale(1.15); }
            #header #content-wrapper #descriptors #media-links ul li .fa-linkedin {
              background-color: #3070AF; }
            #header #content-wrapper #descriptors #media-links ul li .fa-github {
              color: #3d3a3D;
              background-color: #FFFFFC; }
            #header #content-wrapper #descriptors #media-links ul li .fa-facebook {
              background-color: #29538F; }
            #header #content-wrapper #descriptors #media-links ul li .fa-file-o {
              background-color: #157F1F; }

.portfolio {
  max-width: 1300px;
  padding: 35px 10px 10px 10px;
  margin: auto;
  background-color: #D9D9D9;
  overflow: hidden; }
  .portfolio .main-well-wrapper #about {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
  .portfolio .main-well-wrapper #skills {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
    .portfolio .main-well-wrapper #skills #card-wrapper {
      height: 100%; }
      .portfolio .main-well-wrapper #skills #card-wrapper h1 {
        margin-bottom: 20px; }
      .portfolio .main-well-wrapper #skills #card-wrapper #skills-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-height: 100px; }
        .portfolio .main-well-wrapper #skills #card-wrapper #skills-wrapper .skill-category {
          width: 100%;
          min-height: 100px;
          margin: auto;
          margin-bottom: 20px; }
          .portfolio .main-well-wrapper #skills #card-wrapper #skills-wrapper .skill-category .skill-heading {
            width: 100%;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFC;
            background-color: #3d3a3D; }
          .portfolio .main-well-wrapper #skills #card-wrapper #skills-wrapper .skill-category .skill-list {
            width: 100%;
            min-height: 10px;
            margin-top: 15px;
            text-align: center; }
  .portfolio .main-well-wrapper #projects-experience {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
    .portfolio .main-well-wrapper #projects-experience .project-card {
      width: 90%;
      min-height: 100px;
      margin: auto;
      padding-bottom: 30px;
      overflow: hidden; }
      .portfolio .main-well-wrapper #projects-experience .project-card .project-image {
        min-width: 320px;
        min-height: 150px;
        margin: auto;
        margin-bottom: 20px; }
      .portfolio .main-well-wrapper #projects-experience .project-card .acm-member {
        background-image: url("../img/acm_logo.png");
        background-position: center;
        background-size: fit;
        background-repeat: no-repeat; }
      .portfolio .main-well-wrapper #projects-experience .project-card .web-dev-agu {
        background-image: url("../img/web_dev_agu.png");
        background-position: center;
        background-size: fit;
        background-repeat: no-repeat; }
      .portfolio .main-well-wrapper #projects-experience .project-card .project-desc {
        width: 100%;
        min-height: 20px;
        text-align: center;
        color: rgba(61, 58, 61, 0.87); }
  .portfolio .main-well-wrapper #current {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px; }
    .portfolio .main-well-wrapper #current p {
      text-align: center; }
  .portfolio .side-well-wrapper {
    display: none;
    width: 30%;
    min-height: 100px;
    float: right; }

.info-card {
  max-width: 100%;
  color: #3d3a3D;
  background-color: #FFFFFC;
  font-family: "Ubuntu", sans-serif; }
  .info-card h1 {
    font-size: 1.3em;
    margin-bottom: 10px; }
  .info-card p {
    line-height: 1.5em; }

.info-card-data-wrapper {
  padding: 30px 20px; }

#footer {
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
  color: #FFFFFC;
  background-color: #3d3a3D;
  overflow: hidden; }
  #footer p {
    line-height: 40px; }

@media (min-width: 1024px) {
  #content-wrapper {
    position: relative;
    height: 300px;
    left: 10%; }
    #content-wrapper img {
      float: left; }
    #content-wrapper #descriptors {
      margin-left: 20px;
      margin-top: 80px;
      float: left;
      text-align: left; }
      #content-wrapper #descriptors #media-links {
        padding-right: 20px;
        float: right; }

  .main-well-wrapper {
    display: inline-block;
    width: 70%;
    float: left; }

  #skills {
    display: none !important; }

  .side-well-wrapper {
    display: inline-block !important; }
    .side-well-wrapper .skills-side {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px; }
      .side-well-wrapper .skills-side #card-wrapper {
        height: 100%; }
        .side-well-wrapper .skills-side #card-wrapper h1 {
          margin-bottom: 20px; }
        .side-well-wrapper .skills-side #card-wrapper #skills-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          min-height: 100px; }
          .side-well-wrapper .skills-side #card-wrapper #skills-wrapper .skill-category {
            width: 100%;
            min-height: 100px;
            margin: auto;
            margin-bottom: 20px; }
            .side-well-wrapper .skills-side #card-wrapper #skills-wrapper .skill-category .skill-heading {
              width: 100%;
              height: 35px;
              line-height: 35px;
              text-align: center;
              color: #FFFFFC;
              background-color: #3d3a3D; }
            .side-well-wrapper .skills-side #card-wrapper #skills-wrapper .skill-category .skill-list {
              width: 100%;
              min-height: 10px;
              margin-top: 15px;
              text-align: center; }
    .side-well-wrapper .octocat-frame {
      padding: 25px 0px;
      text-align: center; } }

/*# sourceMappingURL=home.css.map */
